.entry {
	height:100%;
	width:100%;
	background-color: var(--yellow);
	display: flex;
	justify-content: center;
	align-items: center;
}

#entry-icon {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 200px;
	color: rgb(60, 30, 30);
}

