.nav_bar {
	background-color: rgb(249, 249, 250);
	position: fixed;
	bottom: 0px;
	width: 100%;
	box-sizing: border-box;
	padding: 0px 40px;
}

.nav_bar__list {
	width: 100%;
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding: 0px;
}

.nav_bar__link {
	color: rgb(48, 54, 62);
}
