.status_bar {
	position: fixed;
	top: 0;
	width: 100%;
	box-sizing: border-box;
	padding: 5px;
	display: flex;
	justify-content: center;
}

.status_bar__column {
	width: 33%;
	font-size: 13px;
	color: rgba(0, 0, 0, 0.8);
}

.status_bar__column:first-child > span{
	margin-right: 2px;
}

.status_bar__column:nth-child(2){
	display: flex;
	justify-content: center;
}

.status_bar__column:last-child{
	display: flex;
	justify-content: end;
	align-items: center;
}

.status_bar__column:last-child > span + i{
	margin: 0px 5px;
}

.status_bar__column:last-child > i:last-child{
	font-size: 3px;
}
